# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\UML_XL\ExtentorOMD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
